@import "src/styles/animations";

.main {
  margin-top: var(--header-height);
  background-color: var(--main-color-primary);
  padding: 2rem 4rem 0 20rem;
  display: flex;
}

.filterSection {
  position: fixed;
  left: 2rem;
  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: var(--border-radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.5rem;
    align-items: flex-start;
  }

  & > div > span {
    font-weight: 600;
  }
}

.checkboxWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
}

.searchInput, .orderInput {
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: var(--border-radius);
}

.menuSection {
  max-height: calc(100vh - 155px);
  overflow-y: auto;
  width: 100%;
  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.divider {
  border: 1px solid rgba(204, 204, 204, 0.3);
  border-radius: var(--border-radius);
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  row-gap: 4rem;
}

.menuItem {
  position: relative;
  padding: 3rem 2rem 2rem 2rem;
  width: 100%;
  height: 100%;
  background-color: purple;
  border-radius: var(--border-radius);
  border: 1px solid rgba(48, 48, 48, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  cursor: pointer;

  & > .itemName {
    position: absolute;
    top: -1.75rem;
    background-color: var(--main-color-primary);
    font-weight: 700;
    font-size: 24px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
  }
}

.ingredientDecoration {
  color: var(--text-color-primary);
}

.ingredientsWrapper {
  display: flex;
  column-gap: 1.25rem;
}

.ingredientInfo {
  display: flex;
  align-items: center;
  column-gap: 0.125rem;

  & > span {
    color: var(--text-color-primary);
  }
}

.dollarSign {
  color: #bdf8a2;
}

.priceScale {
  display: flex;
}

.shimmerWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

.shimmer {
  position: relative;
  width: 100%;
  height: 100px;
  border-radius: var(--border-radius);
  padding: 3rem 2rem 2rem 2rem;
  background-color: #cccccc;

  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  & > div {
    position: absolute;
    top: -1.75rem;
    background-color: var(--main-color-primary);
    font-weight: 700;
    font-size: 24px;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);

    &:before {
      width: 100%;
      height: 32px;
      background-color: #cccccc;
      color: #cccccc;
      border-radius: var(--border-radius);
      content: 'placeholdertext';
    }
  }
}